@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito');
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #f3f3f3;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	text-align: center;
}

.title {
	font-size: 80px;
	transition: all 0.4s ease;
	margin: 20px auto 20px auto;
	font-family: 'Comfortaa', cursive;
}

.repositories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-top: 10px;
}

.load-more {
	display: block;
	width: 100%;
	max-width: 200px;
	padding: 10px 15px;
	margin: 20px auto 0;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: #fefefe;
    border: 1px solid #dedede;
    box-shadow: 0 2px 6px -2px rgba(50,50,50,.1);
	transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
}
.load-more:hover {
	transform: scale(1.03);
	/* text-decoration: underline; */
	background-color: #fafafa;
	box-shadow: 0 5px 18px -4px rgba(0,0,0,.1);
}
.load-more:active {
	transform: scale(1.025);
	opacity: 0.8;
}

.repository {
	display: block;
	position: relative;
	height: auto;
	width: 90vw;
	max-width: 800px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-wrap: break-word;
	border-radius: 5px;
	text-decoration: none;
	color: inherit;
	background-color: #fefefe;
    border: 1px solid #dedede;
    box-shadow: 0 2px 6px -2px rgba(50,50,50,.1);
	transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
}

.repository:hover {
	transform: scale(1.03);
	box-shadow: 0 5px 18px -4px rgba(0,0,0,.1);
}

.repository:active {
	transform: scale(1.025);
	opacity: 0.8;
}

.repository-name {
	min-height: 70px;
	font-size: 30px;
	line-height: 50px;
	margin: 0 0 10px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    padding-left: 70px;
    background-color: #fafafa;
    border-bottom: 1px solid #f6f6f6;
}
.repository-name span {
	display: inline-block;
	line-height: 1;
	word-break: break-all;
	vertical-align: middle;
}

.repository-name a {
	color: #222;
	text-decoration: none;
}

.repository-name a:hover {
	text-decoration: underline;
}

.repository-description {
	margin: auto 20px 30px 20px;
}

.repository-meta-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: bold;
	font-size: 18px;
	padding: 0 15px;
}

.repository-language-item {
	display: inline-block;
	border: 1px solid #eaeaea;
	padding: 3px 8px;
	border-radius: 20px;
	background-color: #fafafa;
	margin-bottom: 10px;
}
.repository-language-item .repository-language {
	margin-bottom: 0;
}
.repository-meta {
	margin-bottom: 10px;
	/* margin-left: 20px; */
	display: flex;
	align-items: center;
}

.repository-meta span {
	margin-left: 5px;
	margin-right: 5px;
}

.repository-meta svg {
	width: 24px;
	height: 24px;
}

.repository-stats {
	margin: 10px 0;
}

.repository-stats div {
	display: flex;
	align-items: center;
}

.repository-stats > div + div {
	margin-left: 10px;
}

@media screen and (max-width: 800px) {
	.repository-name {
		font-size: 20px;
		min-height: 50px;
		line-height: 30px;
		padding-left: 50px;
	    background-size: 30px 30px;
	}
	.repository-meta-container {
		font-size: 14px;
		display: block;
	}
	.repository-meta-container {

	}
	.repository-stats {
		padding: 0 10px;
		margin: 0 -15px;
		display: flex;
		justify-content: space-between;
		background-color: #fafafa;
		border-radius: 0 0 5px 5px;
	    border-top: 1px solid #f6f6f6;
	}
	.repository-stats > div {
		width: 33.33%;
		padding: 10px 5px;
		justify-content: center;
	}
	.repository-stats > div + div{
	    border-left: 1px solid #f6f6f6;
		margin-left: 0;
	}
	.title {
		font-size: 60px;
	}
	.load-more {

	}
}

.repository-description {
	margin: auto 20px 10px 20px;
}

.search-bar-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 90vw;
	max-width: 800px;
	margin: 0 auto;
}

.search-bar {
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: #3d3d3d;
	text-align: left;
	outline: none;
	border: 0px;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
	background-color: #fafafa;
    border: 1px solid #dedede;
}

.search-bar:focus {
	background-image: none;
}

.search-bar::placeholder {
	color: #b5b5b5;
}

.search-bar + .search-icon {
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	vertical-align: middle;
	pointer-events: none;
	transition: opacity 0.3s;
	border-radius: 0 5px 5px 0;
    border: 1px solid #dedede;
    border-left: none;
}

.search-bar:focus + .search-icon,
.search-bar:not(:empty) + .search-icon {
	opacity: 0;
}

.filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 90vw;
	max-width: 800px;
	margin: 30px auto;
}

.search-order-container {
	/* margin-top: 30px; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-order {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.search-order + .search-order {
	margin-left: 20px;
}

.search-order label {
	height: 40px;
	width: 40px;
/* 	min-width: 20px;
max-width: 60px;
min-height: 20px;
max-height: 60px; */
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px;
	/* background-color: #f9f9f9; */
	border-radius: 5px;
	cursor: pointer;
    border: 1px solid transparent;
    /* box-shadow: 0 2px 6px -2px rgba(50,50,50,.1); */
	transition: transform 0.2s, opacity 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.search-order label:hover {
	transform: scale(1.05);
	background-color: #f9f9f9;
    border-color: #dedede;
	box-shadow: 0 5px 18px -4px rgba(0,0,0,.1);
}

.search-order label:active {
	transform: scale(1.025);
	opacity: 0.8;
}

.search-order input {
	visibility: hidden;
}

.search-order input[type="radio"]:checked + label {
	cursor: initial;
	/* background-color: #14b866; */
	background-color: #fafafa;
    border-color: #dedede;
	box-shadow: 0 5px 18px -4px rgba(0,0,0,.1);
}

.order-stars {
	background-image: url('/assets/icons/star.svg');
}

.order-updated {
	background-image: url('/assets/icons/updated.svg');
}

.order-forks {
	background-image: url('/assets/icons/branch.svg');
}

.search-order input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.language-dropdown {
	/* margin-top: 30px; */
	height: 40px;
	font-size: 16px;
	color: #3d3d3d;
	font-weight: bold;
	min-width: 150px;
	padding: 0 30px 0 15px;
	cursor: pointer;
	border: none;
	/* text-align-last: center; */
	border-radius: 5px;
	-webkit-appearance: none;
	background-color: #fafafa;
    border: 1px solid #dedede;
    box-shadow: 0 2px 6px -2px rgba(50,50,50,.1);
}

.language-dropdown:hover {
	background-color: #f6f6f6;
	transition: all 0.2s;
	/* box-shadow: 0 5px 18px -4px rgba(0,0,0,.1); */
}

.language-dropdown:focus {
	outline: none;
}
.language-dropdown-option {
	transition: all 0.2s;
	box-shadow: 0 0 10px #ccc;

}
.language-dropdown > option {
	background-color: #efefef;
	box-shadow: 0 0 10px #ccc;
}



@media screen and (max-width: 800px) {
	.filter-container {
		flex-wrap: wrap;
		justify-content: center;
		margin: 20px auto 15px;
	}
	.search-order-container {
		margin-top: 15px;
		width: 100%;
	}
}

.footer {
	padding: 40px;
	width: 90vw;
	max-width: 800px;
	margin: 50px auto 0 auto;
}

.footer a {
	color: #444;
	text-decoration: none;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer #footer-title {
	font-size: 30px;
	padding: 5px 0;
}

.footer ul li, .footer ul li span {
	display: block;
	padding: 2px 0;
}

.footer .contributor {
	transition: 400ms opacity;
}

.footer .footer-fork {
	font-size: 25px;
	padding: 2px 0;
}

.footer a:hover {
  transition: all 0.4s ease;
	opacity: 0.7;
}

.footer-fork:hover {
  transition: all 0.4s ease;
	opacity: 0.7;
}

.footer .licence-text {
	font-size: 12px;
}

.select_mate {
  position: relative;

  min-width: 300px;
  width: 300px;
  min-height: 60px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
}

.custom-selectbox{
    position: relative;
    display: inline-block;
}

.custom-selectbox:after{
    content: "";
    height: 8px;
    width: 8px;
	border: 1px solid #777;
	border-top-color: transparent;
	border-left-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
	transform: rotate(45deg) translate(-50%, -50%);
    transition: all 0.3s linear;
}

.error {
	color: red;
	font-size: 20px;
	margin-top: 40px;
}

.footer .contributor:hover {
	opacity: 0.7;
}

@media screen and (max-width: 800px) {
	.footer {
		padding: 20px 0;
		margin: 30px auto 0;
	}
	.footer #footer-title {
		font-size: 24px;
	}

	.footer .footer-fork {
		font-size: 24px;
	}
}
