@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito');
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	text-align: center;
}

.title {
	font-size: 80px;
	transition: all 0.4s ease;
	margin: 20px auto 20px auto;
	font-family: 'Comfortaa', cursive;
}

.repositories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-top: 10px;
}

.repository {
	width: 90vw;
	overflow-wrap: break-word;
	max-width: 800px;
	height: auto;
	background-color: #efefef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 50px 50px rgba(50, 50, 93, .05), 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
}

.repository-name {
	font-size: 33px;
	margin: 10px 20px 10px 20px;
}

.repository-name a {
	color: #222;
	text-decoration: none;
}

.repository-name a:hover {
	text-decoration: underline;
}

.repository-description {
	margin: auto 20px 30px 20px;
}

.repository-stats,
.repository-language,
.repository-time {
	margin-bottom: 10px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.repository-stats span,
.repository-language span,
.repository-time span {
	margin-left: 5px;
	margin-right: 5px;
}

.repository-stats svg,
.repository-language svg,
.repository-time svg {
	width: 24px;
	height: 24px;
}

.repository-stats div {
	display: flex;
	align-items: center;
}

.repository-stats > div + div {
	margin-left: 10px;
}

@media screen and (max-width: 500px) {
	.repository-stats,
	.repository-language,
	.repository-time {
		font-size: 15px;
	}

	.title {
		font-size: 60px;
	}
}

.search-bar-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 90vw;
	max-width: 800px;
	margin: 0 auto;
}

.search-bar {
	background-color: #efefef;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: #3d3d3d;
	text-align: left;
	outline: none;
	border: 0px;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
}

.search-bar:focus {
	background-image: none;
}

.search-bar::placeholder {
	color: #b5b5b5;
}

.search-bar + .search-icon {
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	vertical-align: middle;
	pointer-events: none;
	background-color: #efefef;
	transition: opacity 0.3s;
}

.search-bar:focus + .search-icon,
.search-bar:not(:empty) + .search-icon {
	opacity: 0;
}

.search-filter-container {
	display: flex;
	justify-content: space-between;
	width: 90vw;
	max-width: 800px;
	box-sizing: border-box;
	margin: 60px auto 20px;
}

.search-order-container {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

.search-order {
	margin: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.search-order + .search-order {
	margin-left: 10px;
}

.search-order label {
	height: 13vw;
	width: 13vw;
	min-width: 20px;
	max-width: 60px;
	min-height: 20px;
	max-height: 60px;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	background-color: #efefef;
	border-radius: 5px;
	cursor: pointer;
}

.search-order label:hover {
	background-color: #ddd;
	box-shadow: inset 0 0 15px #aaa;
	transition: all 1s ease;
}

.search-order input {
    visibility:hidden;
}


input[type="radio"]:checked+label {
	cursor: initial;
	box-shadow: 0 0 20px #aaa;
	background-color: #14b866;
	transition: all 0.7s ease;
}

.order-stars {
	background-image: url('/assets/icons/star.svg');
}

.order-updated {
	background-image: url('/assets/icons/updated.svg');
}

.order-forks {
	background-image: url('/assets/icons/branch.svg');
}

.search-order input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.language-dropdown {
	background-color: #efefef;
	font-size: 16px;
	font-weight: bold;
	width: 150px;
	cursor: pointer;
	border: none;
	text-align-last: center;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
}

.language-dropdown:hover {
	background-color: #ddd;
	box-shadow: inset 0 0 15px #aaa;
	transition: all 1s ease;
}

.language-dropdown:focus {
	outline: none;
}

.language-dropdown > option {
	background-color: #efefef;
}

.footer {
	padding: 40px;
	width: 90vw;
	max-width: 800px;
	margin: 50px auto 0 auto;
}

.footer a {
	color: #444;
	text-decoration: none;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer #footer-title {
	font-size: 30px;
	padding: 5px 0;
}

.footer ul li, .footer ul li span {
	display: block;
	padding: 2px 0;
}

.footer .contributor {
	transition: 400ms opacity;
}

.footer .footer-fork {
	font-size: 25px;
	padding: 2px 0;
}

.footer a:hover {
  transition: all 0.4s ease;
	opacity: 0.7;
}

.footer-fork:hover {
  transition: all 0.4s ease;
	opacity: 0.7;
}

.footer .licence-text {
	font-size: 12px;
}
