@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito');
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	text-align: center;
}

.title {
	font-size: 80px;
	transition: all 0.4s ease;
	margin: 20px auto 20px auto;
	font-family: 'Comfortaa', cursive;
}

.repositories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-top: 10px;
}

.load-more {
	margin-top: 30px;
	cursor: pointer;
}

.load-more:hover {
	text-decoration: underline;
}

.repository {
	display: block;
	position: relative;
	height: auto;
	width: 90vw;
	max-width: 800px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow-wrap: break-word;
	border-radius: 5px;
	text-decoration: none;
	color: inherit;
	background-color: #efefef;
	transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
}

.repository:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px #ccc;
}

.repository:active {
	transform: scale(0.9);
	opacity: 0.8;
}

.repository-name {
	min-height: 50px;
	font-size: 33px;
	margin: 10px 20px 10px 20px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.repository-name a {
	color: #222;
	text-decoration: none;
}

.repository-name a:hover {
	text-decoration: underline;
}

.repository-description {
	margin: auto 20px 30px 20px;
}

.repository-meta-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: bold;
	font-size: 20px;
}

.repository-meta {
	margin-bottom: 10px;
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.repository-meta span {
	margin-left: 5px;
	margin-right: 5px;
}

.repository-meta svg {
	width: 24px;
	height: 24px;
}

.repository-stats {
	margin: 10px;
}

.repository-stats div {
	display: flex;
	align-items: center;
}

.repository-stats > div + div {
	margin-left: 10px;
}

@media screen and (max-width: 800px) {
	.repository-meta-container {
		font-size: 15px;
		display: block;
	}

	.repository-stats {
		margin-bottom: 10px;
		margin-left: 20px;
	}

	.title {
		font-size: 60px;
	}
}

.repository-description {
	margin: auto 20px 10px 20px;
}

.search-bar-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 90vw;
	max-width: 800px;
	margin: 0 auto;
}

.search-bar {
	background-color: #efefef;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: #3d3d3d;
	text-align: left;
	outline: none;
	border: 0px;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
}

.search-bar:focus {
	background-image: none;
}

.search-bar::placeholder {
	color: #b5b5b5;
}

.search-bar + .search-icon {
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	vertical-align: middle;
	pointer-events: none;
	background-color: #efefef;
	transition: opacity 0.3s;
}

.search-bar:focus + .search-icon,
.search-bar:not(:empty) + .search-icon {
	opacity: 0;
}

.search-order-container {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-order {
	margin: 0 30px 0 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.search-order + .search-order {
	margin-left: 10px;
}

.search-order label {
	height: 13vw;
	width: 13vw;
	min-width: 20px;
	max-width: 60px;
	min-height: 20px;
	max-height: 60px;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	background-color: #efefef;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.2s, opacity 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.search-order label:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px #ccc;
}

.search-order label:active {
	transform: scale(0.9);
	opacity: 0.8;
}

.search-order input {
	visibility: hidden;
}

.search-order input[type="radio"]:checked + label {
	cursor: initial;
	background-color: #14b866;
}

.order-stars {
	background-image: url('/assets/icons/star.svg');
}

.order-updated {
	background-image: url('/assets/icons/updated.svg');
}

.order-forks {
	background-image: url('/assets/icons/branch.svg');
}

.search-order input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.language-dropdown {
	margin-top: 30px;
	height: 40px;
	background-color: #efefef;
	font-size: 16px;
	color: #3d3d3d;
	font-weight: bold;
	width: 150px;
	cursor: pointer;
	border: none;
	text-align-last: center;
	border-radius: 5px;
}

.language-dropdown:hover {
	background-color: #eee;

	transition: all 0.2s;
	box-shadow: 0 0 10px #ccc;
}

.language-dropdown:focus {
	outline: none;
}
.language-dropdown-option {
	transition: all 0.2s;
	box-shadow: 0 0 10px #ccc;

}
.language-dropdown > option {
	background-color: #efefef;
	box-shadow: 0 0 10px #ccc;
}

.footer {
	padding: 40px;
	width: 90vw;
	max-width: 800px;
	margin: 50px auto 0 auto;
}

.footer a {
	color: #444;
	text-decoration: none;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer #footer-title {
	font-size: 30px;
	padding: 5px 0;
}

.footer ul li, .footer ul li span {
	display: block;
	padding: 2px 0;
}

.footer .contributor {
	transition: 400ms opacity;
}

.footer .footer-fork {
	font-size: 25px;
	padding: 2px 0;
}

.footer a:hover {
  transition: all 0.4s ease;
	opacity: 0.7;
}

.footer-fork:hover {
  transition: all 0.4s ease;
	opacity: 0.7;
}

.footer .licence-text {
	font-size: 12px;
}

.select_mate {
  position: relative;

  min-width: 300px;
  width: 300px;
  min-height: 60px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
}

.error {
	color: red;
	font-size: 20px;
	margin-top: 40px;
}

.footer .contributor:hover {
	opacity: 0.7;
}

.loader {
	display: inline-block;
	border: 8px solid #f3f3f3;
	border-top: 8px solid #14b866;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
}
#app .loader {
	margin-top: 24px;
}

.custom-selectbox {
	margin: 24px 0;
}

select.minimal {
	color: #3d3d3d;
	background-color: #efefef;
	border: thin solid #efefef;
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	margin: 0;
	box-sizing: border-box;
	appearance: none;
	font-weight: bold;

	background-image:
		linear-gradient(45deg, transparent 50%, #3d3d3d 50%),
		linear-gradient(135deg, #3d3d3d 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 6px,
		1px 1.5em;
	background-repeat: no-repeat;
	outline: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}