@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito');
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	text-align: center;
}

.title {
	font-size: 80px;
	transition: all 0.4s ease;
	margin: 20px auto 20px auto;
	font-family: 'Comfortaa', cursive;
}

.repositories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-top: 10px;
}

.repository {
	width: 90vw;
	overflow-wrap: break-word;
	max-width: 800px;
	height: auto;
	background-color: #efefef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 50px 50px rgba(50, 50, 93, .05), 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
}

.repository-stats {
	display: flex;
	font-size: 18px;
	margin-bottom: 10px;
}

.repository-time {
	margin-bottom: 10px;
	margin-left: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.repository-time span {
	margin-left: 5px;
	margin-right: 5px;
}

@media screen and (max-width: 500px) {
	.repository-stats div {
		font-size: 15px;
	}
	.title {
		font-size: 60px;
	}
}

.repository-stats div {
	margin-left: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.repository-stats div span {
	margin-left: 5px;
}

.repository-name {
	font-size: 33px;
	margin: 10px 20px 10px 20px;
}

.repository-name a {
	color: #222;
	text-decoration: none;
}

.repository-name a:hover {
	text-decoration: underline;
}

.repository-description {
	margin: auto 20px 10px 20px;
}

.search-bar-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-bar {
	background-color: #efefef;
	background-image: url('/assets/icons/search-icon.svg');
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: right center;
	outline: none;
	width: 90vw;
	max-width: 700px;
	height: 7vh;
	min-height: 50px;
	font-size: 5vh;
	font-family: 'Nunito', sans-serif;
	border: 0px;
	padding: 0 20px 0 20px;
	color: #3d3d3d;
	border-radius: 5px;
}

.search-bar:focus {
	background-image: none;
}

.search-bar::placeholder {
	color: #b5b5b5;
}

.search-order-container {
	margin: 30px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-order {
	margin: 0 30px 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-order label {
	height: 13vw;
	width: 13vw;
	min-width: 20px;
	max-width: 60px;
	min-height: 20px;
	max-height: 60px;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	background-color: #efefef;
	border-radius: 5px;
	cursor: pointer;
}

.search-order label:hover {
	background-color: #ddd;
	transition: all 1s ease;
}

.search-order input {
    visibility:hidden;
}

input[type="radio"]:checked+label {
	cursor: initial;
	box-shadow: 0 0 20px #aaa;
	background-color: #14b866;
	transition: all 0.7s ease;
}

.order-stars {
	background-image: url('/assets/icons/star.svg');
}

.order-updated {
	background-image: url('/assets/icons/updated.svg');
}

.order-forks {
	background-image: url('/assets/icons/branch.svg');
}

.search-order input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.footer {
	padding: 40px;
	width: 90vw;
	max-width: 800px;
	margin: 50px auto 0 auto;
	border-radius: 6px 6px 0 0;
}

.footer a {
	color: #444;
	text-decoration: none;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer #footer-title {
	font-size: 30px;
	padding: 5px 0;
}

.footer ul li, .footer ul li span {
	display: block;
	padding: 2px 0;
}
